In [1]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library SystemCustomers.csv')

# Remove rows with any empty cells
df.dropna(inplace=True)

df.head()

   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
4          5.0  William Holden
5          6.0   Jaztyn Forest

In [6]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library SystemCustomers.csv')

# Replace NaN values with a specific value (e.g., 0)
df.dropna(inplace=True)

print(df)

   Customer ID     Customer Name
0          1.0          Jane Doe
1          2.0        John Smith
2          3.0        Dan Reeves
4          5.0    William Holden
5          6.0     Jaztyn Forest
6          7.0     Jackie Irving
7          8.0  Matthew Stirling
8          9.0         Emory Ted